<br/>
<center>As of XX/XX/XXXX</center>
<br/>

  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><h1>Attendance</h1></center>
          <hr/>
        </div>
      </div>
      <div class="row clearfix">
          <div class="col-md-12 column">
              <div class="row clearfix">
                  <div class="col-md-12 column">
                      <div class="list-group">
                        <center>
                          <div class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Precent Attendance
                                  <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access website and use site API">
                                    <i class="fa fa-question-circle"></i>
                                  </a>
                              </h4>
                              <p class="list-group-item-text">
                                  <span class="label label-success">99%</span>
                              </p>
                          </div>
                        
                          <div class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Absences 
                                  <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access site using SSH terminal">
                                    <i class="fa fa-question-circle"></i>
                                  </a>
                              </h4>
                              <p class="list-group-item-text">
                                  <span class="label label-success">2</span>
                              </p>
                          </div>
                        
                          <div class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Tardies
                                  <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access database server and execute queries">
                                    <i class="fa fa-question-circle"></i>
                                  </a>
                              </h4>
                              <p class="list-group-item-text">
                                  <span class="label label-success">0</span>
                              </p>
                          </div>
                          </center>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  