<br/>
<center>As of XX/XX/XXXX</center>
<br/>
<div class="container">
    <div class="col-xs-12">
        <center class="green"><h1 class="emboss">Eligible</h1></center>
    </div>
</div>
<br/>
<br/>
<div class="container">
    <div class="col-xs-6">
        <a href="#">
            <center class="bigpad white">
                <h1 class="white">0</h1>
                <small>Detentions</small>
            </center>
        </a>
    </div>
    
    <div class="col-xs-6">
        <a href="#">
            <center class="bigpad white">
                <h1 class="white">0</h1>
                <small>Total Fs</small>
            </center>
        </a>
    </div>
</div>
<br/>
<br/>
<div class="container">
    <div class="col-xs-12">
        <a href="https://student.cps.k12.il.us/pc/studentlogin.aspx" target="_blank">
            <center class="bigpad white">
                <h1 class="white">Gradebook</h1>
            </center>
        </a>
    </div>
</div>
