<!-- Main Page -->
<div class="jumbotron shadow">
    <center>
        <div class="circular outshadow">
            <img src="https://s-media-cache-ak0.pinimg.com/favicons/3f3cdab6ce6a1356936bdd137e5d5a0f06932d18bf9ca1d6eb2e2aea.png?c15319b84ba1f5be63ac979226b2bdc1" alt="wolves"/>
        </div>
    </center>
    <br/>
    <center>
        <div class="titlefont emboss">Jeremy Chionglo</div>
    </center>
</div>

<div class="container">
    <center><img src="http://freebarcodefonts.dobsonsw.com/images/code128bar.jpg" height="100px"></center>
</div>
<div class="container">
    <div class="col-xs-6">
        <center>
            <h1>12th</h1>
            <small>GRADE</small>
        </center>
    </div>
    
    <div class="col-xs-6">
        <center>
            <h1>660</h1>
            <small>HOMEROOM</small>
        </center>
    </div>
</div>
<br/>
<br/>
<div class="container">
    <div class="col-xs-12">
        <a href="#"><center class="green"><h1 class="emboss">Eligible</h1></center></a>
    </div>
</div>
<br/>
<br/>
<div class="container">
    <div class="col-xs-6">
        <a href="#">
            <center class="bigpad white">
                <h1 class="white">3.8</h1>
                <small>GPA</small>
            </center>
        </a>
    </div>
    
    <div class="col-xs-6">
        <a href="#">
            <center class="bigpad white">
                <h1 class="white">36</h1>
                <small>SLH</small>
            </center>
        </a>
    </div>
</div>
<br/>
<br/>
<div class="dividerinset">
    <hr>
        <center>
            <h1>Upcoming Events</h1>
        </center>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-html5"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                    <a href="" class="btn">Link</a>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-css3"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                    <a href="" class="btn">Link</a>
                </div>
            </div>
        </div>
	</div>
</div>